<!DOCTYPE html>
<html lang="ko">
<head>
<!--@import(./components/head.ejs)-->
</head>
<body id="app" class="header--banner--notice--container__opened">
<!--@import(./components/header.html)-->

<div class="detail--title--container">
    <div class="contents-area-flex">
        <div class="detail--title">
            <div>
                <span class="contents-title">서울과학기술대학교 간호학과</span>
                <span>서울</span>
            </div>
            <div class="detail--title--info">
                <i class="material-icons">remove_red_eye</i><span>980,905</span>
                <i class="material-icons">star</i><span>1,106</span>
            </div>
        </div>
        <div class="detail--title--functions">
            <div>
                <div><i class="material-icons">star</i></div>
                <div>관심있어요</div>
            </div>
            <div>
                <div><i class="material-icons">star</i></div>
                <div>공유하기</div>
            </div>
        </div>
    </div>
</div>
<!--@todo vue.js에서 "vue-accordion" 추가한 다음에 다시 만들어야 됨.-->
<div class="detail--info--container">
    <div class="contents-area">
        <div class="info--contents">
            <div class="info--title">
                <span class="contents-title">분야</span><span>의학</span>
                <span class="contents-title">단과대학</span><span>간호대학</span>
            </div>
            <div class="info">
                <div>
                    <div><span>대학교 구분</span><span>사립</span></div>
                    <div><span>등록금</span><span>858만원</span></div>
                    <div><span>장학금</span><span>858만원</span></div>
                </div>
                <div>
                    <div><span>수시 경쟁률</span><span>10.6:1</span></div>
                    <div><span>정시 경쟁률</span><span>5.6:1</span></div>
                    <div><span>평균 재학기간<br/>&nbsp;</span><span>남:5년 6개월<br/> 여:4년 4개월</span></div>
                </div>
            </div>
        </div>
        <div class="info--links--container">
            <a href="./detail.univ.html"><p>대학(<span class="font-weight-bold">서울과학기술대학교</span>)<br/>바로 가기</p></a>
            <a href="./detail.category.html"><p>전공분야(<span class="font-weight-bold">간호학</span>)<br/>바로 가기</p></a>
        </div>
    </div>
</div>
<div class="contents-area"><hr/></div>
<div>
    <div class="contents-area">
        <div class="contents-title">워드클라우드</div>
        <div>vue에서 워드클라우드 패키지 찾기</div>
    </div>
</div>
<div class="contents-area"><hr/></div>
<div>
    <div class="contents-area">
        <div class="contents-title">추천도서</div>
        <div>vue에서 carousel 패키지 찾기</div>
    </div>
</div>
<div class="contents-area"><hr/></div>
<div>
    <div class="contents-area">
        <div class="contents-title">선택과목</div>
        <table>
            <thead><tr>
                <th>분류</th>
                <th>일반선택</th>
                <th>진로선택</th>
            </tr></thead>
            <tbody>
            <tr>
                <td rowspan="3">기초</td>
                <td>언어와 매체</td>
                <td>실용 국어</td>
            </tr>
            <tr>
                <td>언어와 매체</td>
                <td>실용 국어</td>
            </tr>
            <tr>
                <td>언어와 매체</td>
                <td>실용 국어</td>
            </tr>
            <tr>
                <td rowspan="3">탐구</td>
                <td>언어와 매체</td>
                <td>실용 국어</td>
            </tr>
            <tr>
                <td>언어와 매체</td>
                <td>실용 국어</td>
            </tr>
            <tr>
                <td>언어와 매체</td>
                <td>실용 국어</td>
            </tr>
            <tr>
                <td rowspan="3">교양 외</td>
                <td>언어와 매체</td>
                <td>실용 국어</td>
            </tr>
            <tr>
                <td>언어와 매체</td>
                <td>실용 국어</td>
            </tr>
            <tr>
                <td>언어와 매체</td>
                <td>실용 국어</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="contents-area"><hr/></div>
<div>
    <div class="contents-area">
        <div class="contents-title">관련학과</div>
        <div>vue에서 sigma.js 패키지 찾기</div>
        <div><table>
    <thead><tr>
        <th>
            <span>학과</span>
            <button class="activated">▲</button>
            <button>▼</button>
        </th>
        <th>
            <span>모집인원</span>
            <button class="activated">▲</button>
            <button>▼</button>
        </th>
        <th>
            <span>수시 경쟁률</span>
            <button class="activated">▲</button>
            <button>▼</button>
        </th>
        <th>
            <span>정시 경쟁률</span>
            <button class="activated">▲</button>
            <button>▼</button>
        </th>
        <th>
            <span>등록금</span>
            <button class="activated">▲</button>
            <button>▼</button>
        </th>
        <th>
            <span>장학금</span>
            <button class="activated">▲</button>
            <button>▼</button>
        </th>
        <th>
            <span>재학기간</span>
            <button class="activated">▲</button>
            <button>▼</button>
        </th>
    </tr></thead>
    <tbody>
    <tr>
        <td class="text-left">간호학과<span>보건대학</span></td>
        <td>197</td>
        <td>15.2</td>
        <td>3.9</td>
        <td>300만원</td>
        <td>300만원</td>
        <td>6년 6개월</td>
    </tr>
    <tr>
        <td class="text-left">간호학과<span>보건대학</span></td>
        <td>197</td>
        <td>15.2</td>
        <td>3.9</td>
        <td>300만원</td>
        <td>300만원</td>
        <td>6년 6개월</td>
    </tr>
    <tr>
        <td class="text-left">간호학과<span>보건대학</span></td>
        <td>197</td>
        <td>15.2</td>
        <td>3.9</td>
        <td>300만원</td>
        <td>300만원</td>
        <td>6년 6개월</td>
    </tr>
    </tbody>
</table></div>
    </div>
</div>
<div class="contents-area"><hr/></div>
<div class="detail--reply--container">
    <div class="contents-area">
        <div class="contents-title">댓글</div>
        <div class="reply-input">
            <p>닉네임</p>
            <label>
                <textarea placeholder="타인의 권리를 침해하거나 명예를 훼손하는 게시물은 통보 없이 제재를 받을 수 있습니다."></textarea>
            </label>
            <div>
                <span>(0/1000)</span>
                <button class="btn-gradient">등록</button>
            </div>
        </div>
        <div class="reply-sort">
            <button class="btn-text activated">추천순</button>
            <button class="btn-text">최신순</button>
        </div>
        <div class="reply-item">
            <div class="nickname">
                <b class="font-size-14">닉네임</b>
                <span>2018-04-11 04:41</span>
            </div>
            <div>내용</div>
            <button class="btn-e1e1e1">답글 108</button>
            <div class="reply-item">
                <div class="nickname">
                    <b class="font-size-14">닉네임</b>
                    <span>2018-04-11 04:41</span>
                </div>
                <div>내용</div>
                <button class="btn-e1e1e1">답글 108</button>
            </div>
        </div>
        <div class="reply-item">
            <div class="nickname">
                <b class="font-size-14">닉네임</b>
                <span>2018-04-11 04:41</span>
            </div>
            <div>내용</div>
            <button class="btn-e1e1e1">답글 108</button>
        </div>
    </div>
</div>
<!--@import(./components/footer.html)-->
<!--@import(./components/foot.html)-->
</body>
</html>
