<!DOCTYPE html>
<html lang="ko">
<head>
    <!--@import(./components/head.ejs)-->
</head>
<body id="app" class="header--banner--notice--container__opened">
<!--@import(./components/header.html)-->
<div class="detail--title--container">
    <div class="contents-area-flex">
        <div class="detail--title">
            <div>
                <span class="contents-title">간호학</span>
                <span>자연과학계열</span>
            </div>
            <div class="detail--title--info">
                <i class="material-icons">remove_red_eye</i><span>980,905</span>
            </div>
        </div>
        <div class="detail--title--functions">
            <div>
                <div><i class="material-icons">star</i></div>
                <div>공유하기</div>
            </div>
        </div>
    </div>
</div>
<!--@todo vue.js에서 "vue-accordion" 추가한 다음에 다시 만들어야 됨.-->
<div class="detail--category--definition--container">
    <div class="contents-area">
        <div class="definition--box">
            <div class="contents-title">간호학이란?</div>
            <p>간호학은 사람들의 건강을 증진시키고 질병에서 오는 고통을 줄여 더 행복한 삶을 살 수 있도록 돕는
                전문 간호 이론과 기술을 배우는 학문입니다. 간호학은 간호 대상의 특성과 변화에 따른 간호 방법을
                연구하며, 성인간호학, 아동간호학, 모성간호학, 노인간호학, 정신건강간호학, 지역사회간호학 등으로
                구분할 수 있습니다. 대학에 따라 4년제, 혹은 3년제 교육과정으로 개설되어 있으며 국가시험을 거쳐
                간호사 면허 취득 후 간호사로 종사할 수 있습니다. 병원에서의 임상간호사 외에 보건간호사, 산업간호사
                등 다양한 분야에서 활동합니다.</p>
        </div>
    </div>
</div>
<div class="contents-area"><hr/></div>
<div>
    <div class="contents-area">
        <div class="contents-title">워드클라우드</div>
        <div>vue에서 워드클라우드 패키지 찾기</div>
    </div>
</div>
<div class="contents-area"><hr/></div>
<div>
    <div class="contents-area">
        <div class="contents-title">학과찾기</div>
        <div>
            <div class="search--filter">
                vue.js에서 만들어야 함 (브라우저에서 option 스타일링 못함)<br/>
            </div>
            <div class="search--filter--button">
                <button class="btn-e1e1e1">초기화</button>
                <button class="btn-gradient">검색</button>
            </div>
            <table>
                <thead><tr>
                    <th>
                        <span>학과</span>
                        <button class="activated">▲</button>
                        <button>▼</button>
                    </th>
                    <th>
                        <span>모집인원</span>
                        <button class="activated">▲</button>
                        <button>▼</button>
                    </th>
                    <th>
                        <span>수시 경쟁률</span>
                        <button class="activated">▲</button>
                        <button>▼</button>
                    </th>
                    <th>
                        <span>정시 경쟁률</span>
                        <button class="activated">▲</button>
                        <button>▼</button>
                    </th>
                    <th>
                        <span>등록금</span>
                        <button class="activated">▲</button>
                        <button>▼</button>
                    </th>
                    <th>
                        <span>장학금</span>
                        <button class="activated">▲</button>
                        <button>▼</button>
                    </th>
                    <th>
                        <span>재학기간</span>
                        <button class="activated">▲</button>
                        <button>▼</button>
                    </th>
                </tr></thead>
                <tbody>
                <tr>
                    <td class="text-left">간호학과<span>보건대학</span></td>
                    <td>197</td>
                    <td>15.2</td>
                    <td>3.9</td>
                    <td>300만원</td>
                    <td>300만원</td>
                    <td>6년 6개월</td>
                </tr>
                <tr>
                    <td class="text-left">간호학과<span>보건대학</span></td>
                    <td>197</td>
                    <td>15.2</td>
                    <td>3.9</td>
                    <td>300만원</td>
                    <td>300만원</td>
                    <td>6년 6개월</td>
                </tr>
                <tr>
                    <td class="text-left">간호학과<span>보건대학</span></td>
                    <td>197</td>
                    <td>15.2</td>
                    <td>3.9</td>
                    <td>300만원</td>
                    <td>300만원</td>
                    <td>6년 6개월</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="contents-area"><hr/></div>
<div class="detail--certification--container">
    <div class="contents-area">
        <div class="contents-title">자격증</div>
        <div class="certification--box">
            <div>간호사 면허</div>
            <div>간호사 면허</div>
            <div>간호사 면허</div>
            <div>간호사 면허</div>
            <div>간호사 면허</div>
            <div>간호사 면허</div>
            <div>간호사 면허</div>
            <div>간호사 면허</div>
        </div>
    </div>
</div>
<div class="contents-area"><hr/></div>
<div class="job--container">
    <div class="contents-area">
        <div class="contents-title">진출 직업</div>
        <div class="job--box">
            <div>정신건강상담전문가</div>
            <div>정신건강상담전문가</div>
            <div>정신건강상담전문가</div>
            <div>정신건강상담전문가</div>
            <div>정신건강상담전문가</div>
            <div>정신건강상담전문가</div>
            <div>정신건강상담전문가</div>
            <div>정신건강상담전문가</div>
        </div>
    </div>
</div>
<div class="contents-area"><hr/></div>
<div class="detail--reply--container">
    <div class="contents-area">
        <div class="contents-title">댓글</div>
        <div class="reply-input">
            <p>닉네임</p>
            <label>
                <textarea placeholder="타인의 권리를 침해하거나 명예를 훼손하는 게시물은 통보 없이 제재를 받을 수 있습니다."></textarea>
            </label>
            <div>
                <span>(0/1000)</span>
                <button class="btn-gradient">등록</button>
            </div>
        </div>
        <div class="reply-sort">
            <button class="btn-text activated">추천순</button>
            <button class="btn-text">최신순</button>
        </div>
        <div class="reply-item">
            <div class="nickname">
                <b class="font-size-14">닉네임</b>
                <span>2018-04-11 04:41</span>
            </div>
            <div>내용</div>
            <button class="btn-e1e1e1">답글 108</button>
            <div class="reply-item">
                <div class="nickname">
                    <b class="font-size-14">닉네임</b>
                    <span>2018-04-11 04:41</span>
                </div>
                <div>내용</div>
                <button class="btn-e1e1e1">답글 108</button>
            </div>
        </div>
        <div class="reply-item">
            <div class="nickname">
                <b class="font-size-14">닉네임</b>
                <span>2018-04-11 04:41</span>
            </div>
            <div>내용</div>
            <button class="btn-e1e1e1">답글 108</button>
        </div>
    </div>
</div>
<!--@import(./components/footer.html)-->
<!--@import(./components/foot.html)-->
</body>
</html>
