<!DOCTYPE html>
<html lang="ko">
<head>
<!--@import(./components/head.ejs)-->
</head>
<body id="app" class="header--banner--notice--container__opened">
<!--@import(./components/header.html)-->

<div class="header2--container"><div class="contents-area">전공분야 검색</div></div>
<div class="search--filter--container">
    <div class="contents-area">
        <h3>검색필터</h3>
        <div class="search--filter">
            vue.js에서 만들어야 함 (브라우저에서 option 스타일링 못함)<br/>
        </div>
        <div class="search--filter--button">
            <button class="btn-e1e1e1">초기화</button>
            <button class="btn-gradient">검색</button>
        </div>
    </div>
</div>
<hr/>
<div class="search--category-result--container">
    <div class="contents-area-flex">
        <div class="contents-title">검색 결과 <span class="font-color-0f75bc">20</span></div>
        <div class="search--category-result--item">
            <div class="search--category-result--item--title">
                <a href="./detail.category.html">간호학</a>
                <span>자연과학 / 간호</span>
            </div>
            <div class="search--category-result--item--description">
                간호학은 사람들의 건강을 증진시키고 질병에서 오는 고통을 줄여 더 행복한 삶을 살 수 있도록 돕는 전문
                간호 이론과 기술을 배우는 학문입니다. 간호학은 간호 대상의 특성과 변화에 따른 간호 방법을 연구하며,
                성인간호학, 아동간호학, 모성간호학, 노인간호학, 정신건강간호학, 지역사회간호학 등으로 구분할 수
                있습니다. 대학에 따라 4년제, 혹은 3년제 교육과정으로 개설되어 있으며 국가시험을 거쳐 간호사 면허
                취득 후 간호사로 종사할 수 있습니다. 병원에서의 임상간호사 외에 보건간호사, 산업간호사 등 다양한
                분야에서 활동합니다.
            </div>
            <div class="search--category-result--item--keywords">
                간호학과, 간호학과(4년제), 간호학부
            </div>
        </div><div class="search--category-result--item">
        <div class="search--category-result--item--title">
            <a href="./detail.category.html">간호학</a>
            <span>자연과학 / 간호</span>
        </div>
        <div class="search--category-result--item--description">
            간호학은 사람들의 건강을 증진시키고 질병에서 오는 고통을 줄여 더 행복한 삶을 살 수 있도록 돕는 전문
            간호 이론과 기술을 배우는 학문입니다. 간호학은 간호 대상의 특성과 변화에 따른 간호 방법을 연구하며,
            성인간호학, 아동간호학, 모성간호학, 노인간호학, 정신건강간호학, 지역사회간호학 등으로 구분할 수
            있습니다. 대학에 따라 4년제, 혹은 3년제 교육과정으로 개설되어 있으며 국가시험을 거쳐 간호사 면허
            취득 후 간호사로 종사할 수 있습니다. 병원에서의 임상간호사 외에 보건간호사, 산업간호사 등 다양한
            분야에서 활동합니다.
        </div>
        <div class="search--category-result--item--keywords">
            간호학과, 간호학과(4년제), 간호학부
        </div>
    </div><div class="search--category-result--item">
        <div class="search--category-result--item--title">
            <a href="./detail.category.html">간호학</a>
            <span>자연과학 / 간호</span>
        </div>
        <div class="search--category-result--item--description">
            간호학은 사람들의 건강을 증진시키고 질병에서 오는 고통을 줄여 더 행복한 삶을 살 수 있도록 돕는 전문
            간호 이론과 기술을 배우는 학문입니다. 간호학은 간호 대상의 특성과 변화에 따른 간호 방법을 연구하며,
            성인간호학, 아동간호학, 모성간호학, 노인간호학, 정신건강간호학, 지역사회간호학 등으로 구분할 수
            있습니다. 대학에 따라 4년제, 혹은 3년제 교육과정으로 개설되어 있으며 국가시험을 거쳐 간호사 면허
            취득 후 간호사로 종사할 수 있습니다. 병원에서의 임상간호사 외에 보건간호사, 산업간호사 등 다양한
            분야에서 활동합니다.
        </div>
        <div class="search--category-result--item--keywords">
            간호학과, 간호학과(4년제), 간호학부
        </div>
    </div><div class="search--category-result--item">
        <div class="search--category-result--item--title">
            <a href="./detail.category.html">간호학</a>
            <span>자연과학 / 간호</span>
        </div>
        <div class="search--category-result--item--description">
            간호학은 사람들의 건강을 증진시키고 질병에서 오는 고통을 줄여 더 행복한 삶을 살 수 있도록 돕는 전문
            간호 이론과 기술을 배우는 학문입니다. 간호학은 간호 대상의 특성과 변화에 따른 간호 방법을 연구하며,
            성인간호학, 아동간호학, 모성간호학, 노인간호학, 정신건강간호학, 지역사회간호학 등으로 구분할 수
            있습니다. 대학에 따라 4년제, 혹은 3년제 교육과정으로 개설되어 있으며 국가시험을 거쳐 간호사 면허
            취득 후 간호사로 종사할 수 있습니다. 병원에서의 임상간호사 외에 보건간호사, 산업간호사 등 다양한
            분야에서 활동합니다.
        </div>
        <div class="search--category-result--item--keywords">
            간호학과, 간호학과(4년제), 간호학부
        </div>
    </div><div class="search--category-result--item">
        <div class="search--category-result--item--title">
            <a href="./detail.category.html">간호학</a>
            <span>자연과학 / 간호</span>
        </div>
        <div class="search--category-result--item--description">
            간호학은 사람들의 건강을 증진시키고 질병에서 오는 고통을 줄여 더 행복한 삶을 살 수 있도록 돕는 전문
            간호 이론과 기술을 배우는 학문입니다. 간호학은 간호 대상의 특성과 변화에 따른 간호 방법을 연구하며,
            성인간호학, 아동간호학, 모성간호학, 노인간호학, 정신건강간호학, 지역사회간호학 등으로 구분할 수
            있습니다. 대학에 따라 4년제, 혹은 3년제 교육과정으로 개설되어 있으며 국가시험을 거쳐 간호사 면허
            취득 후 간호사로 종사할 수 있습니다. 병원에서의 임상간호사 외에 보건간호사, 산업간호사 등 다양한
            분야에서 활동합니다.
        </div>
        <div class="search--category-result--item--keywords">
            간호학과, 간호학과(4년제), 간호학부
        </div>
    </div><div class="search--category-result--item">
        <div class="search--category-result--item--title">
            <a href="./detail.category.html">간호학</a>
            <span>자연과학 / 간호</span>
        </div>
        <div class="search--category-result--item--description">
            간호학은 사람들의 건강을 증진시키고 질병에서 오는 고통을 줄여 더 행복한 삶을 살 수 있도록 돕는 전문
            간호 이론과 기술을 배우는 학문입니다. 간호학은 간호 대상의 특성과 변화에 따른 간호 방법을 연구하며,
            성인간호학, 아동간호학, 모성간호학, 노인간호학, 정신건강간호학, 지역사회간호학 등으로 구분할 수
            있습니다. 대학에 따라 4년제, 혹은 3년제 교육과정으로 개설되어 있으며 국가시험을 거쳐 간호사 면허
            취득 후 간호사로 종사할 수 있습니다. 병원에서의 임상간호사 외에 보건간호사, 산업간호사 등 다양한
            분야에서 활동합니다.
        </div>
        <div class="search--category-result--item--keywords">
            간호학과, 간호학과(4년제), 간호학부
        </div>
    </div><div class="search--category-result--item">
        <div class="search--category-result--item--title">
            <a href="./detail.category.html">간호학</a>
            <span>자연과학 / 간호</span>
        </div>
        <div class="search--category-result--item--description">
            간호학은 사람들의 건강을 증진시키고 질병에서 오는 고통을 줄여 더 행복한 삶을 살 수 있도록 돕는 전문
            간호 이론과 기술을 배우는 학문입니다. 간호학은 간호 대상의 특성과 변화에 따른 간호 방법을 연구하며,
            성인간호학, 아동간호학, 모성간호학, 노인간호학, 정신건강간호학, 지역사회간호학 등으로 구분할 수
            있습니다. 대학에 따라 4년제, 혹은 3년제 교육과정으로 개설되어 있으며 국가시험을 거쳐 간호사 면허
            취득 후 간호사로 종사할 수 있습니다. 병원에서의 임상간호사 외에 보건간호사, 산업간호사 등 다양한
            분야에서 활동합니다.
        </div>
        <div class="search--category-result--item--keywords">
            간호학과, 간호학과(4년제), 간호학부
        </div>
    </div><div class="search--category-result--item">
        <div class="search--category-result--item--title">
            <a href="./detail.category.html">간호학</a>
            <span>자연과학 / 간호</span>
        </div>
        <div class="search--category-result--item--description">
            간호학은 사람들의 건강을 증진시키고 질병에서 오는 고통을 줄여 더 행복한 삶을 살 수 있도록 돕는 전문
            간호 이론과 기술을 배우는 학문입니다. 간호학은 간호 대상의 특성과 변화에 따른 간호 방법을 연구하며,
            성인간호학, 아동간호학, 모성간호학, 노인간호학, 정신건강간호학, 지역사회간호학 등으로 구분할 수
            있습니다. 대학에 따라 4년제, 혹은 3년제 교육과정으로 개설되어 있으며 국가시험을 거쳐 간호사 면허
            취득 후 간호사로 종사할 수 있습니다. 병원에서의 임상간호사 외에 보건간호사, 산업간호사 등 다양한
            분야에서 활동합니다.
        </div>
        <div class="search--category-result--item--keywords">
            간호학과, 간호학과(4년제), 간호학부
        </div>
    </div>
    </div>
</div>
<!--@import(./components/footer.html)-->
<!--@import(./components/foot.html)-->
</body>
</html>
