<!DOCTYPE html>
<html lang="ko">
<head>
<!--@import(./components/head.ejs)-->
</head>
<body id="app" class="header--banner--notice--container__opened">
<!--@import(./components/header.html)-->

<div class="header2--container"><div class="contents-area">학과 검색</div></div>
<div class="search--filter--container">
    <div class="contents-area">
        <h3>검색필터</h3>
        <div class="search--filter">
            vue.js에서 만들어야 함 (브라우저에서 option 스타일링 못함)<br/>
        </div>
        <div class="search--filter--button">
            <button class="btn-e1e1e1">초기화</button>
            <button class="btn-gradient">검색</button>
        </div>
    </div>
</div>
<hr/>
<div class="search--result--container">
    <div class="contents-area-flex">
        <div class="rank-list">
            <div class="rank-title background-gradient">
                <span>가장 많이 검색한 학과</span>
                <button class="activated">▲</button>
                <button>▼</button>
            </div>
            <a href="./detail.major.html" class="rank-item-top3">
                <span>1</span>서울과학기술대학교 간호학과
            </a>
            <a href="./detail.major.html" class="rank-item-top3">
                <span>2</span>서울과학기술대학교 간호학과
            </a>
            <a href="./detail.major.html" class="rank-item-top3">
                <span>3</span>서울과학기술대학교 간호학과
            </a>
            <a href="./detail.major.html" class="rank-item">
                <span>4</span>서울과학기술대학교 간호학과
            </a>
            <a href="./detail.major.html" class="rank-item">
                <span>5</span>서울과학기술대학교 간호학과
            </a>
            <a href="./detail.major.html" class="rank-item">
                <span>6</span>서울과학기술대학교 간호학과
            </a>
            <a href="./detail.major.html" class="rank-item">
                <span>7</span>서울과학기술대학교 간호학과
            </a>
            <a href="./detail.major.html" class="rank-item">
                <span>8</span>서울과학기술대학교 간호학과
            </a>
            <a href="./detail.major.html" class="rank-item">
                <span>9</span>서울과학기술대학교 간호학과
            </a>
            <a href="./detail.major.html" class="rank-item">
                <span>10</span>서울과학기술대학교 간호학과
            </a>
        </div>
        <div class="rank-list">
            <div class="rank-title background-gradient">
                <span>최근 내가 검색한 학과</span>
                <button class="activated">▲</button>
                <button>▼</button>
            </div>
            <a href="./detail.major.html" class="rank-item">
                <span>1</span>한양대학교(ERICA) 응용물리학과
            </a>
            <a href="./detail.major.html" class="rank-item">
                <span>2</span>한양대학교(ERICA) 응용물리학과
            </a>
            <a href="./detail.major.html" class="rank-item">
                <span>3</span>한양대학교(ERICA) 응용물리학과
            </a>
            <a href="./detail.major.html" class="rank-item">
                <span>4</span>한양대학교(ERICA) 응용물리학과
            </a>
            <a href="./detail.major.html" class="rank-item">
                <span>5</span>한양대학교(ERICA) 응용물리학과
            </a>
        </div>
    </div>
</div>
<!--@import(./components/footer.html)-->
<!--@import(./components/foot.html)-->
</body>
</html>
