<!DOCTYPE html>
<html lang="ko">
<head>
<!--@import(./components/head.ejs)-->
</head>
<body id="app" class="header--banner--notice--container__opened">
<!--@import(./components/header.html)-->
<div class="header2--container"><div class="contents-area">비밀번호 찾기</div></div>
<div class="user--container">
    <div class="contents-area">
        <div class="font-size-20">입력한 이메일 주소로 메일이 발송되었습니다</div>
        <div class="font-size-16">이메일이 오지 않은 경우 스팸메일함을 확인해 주세요</div>
        <a href="./" class="btn-gradient">확인</a>
    </div>
</div>
<!--@import(./components/footer.html)-->
<!--@import(./components/foot.html)-->
</body>
</html>
