<!DOCTYPE html>
<html lang="ko">
<head>
<!--@import(./components/head.ejs)-->
</head>
<body id="app" class="header--banner--notice--container__opened">
<!--@import(./components/header.html)-->

<div class="header2--container"><div class="contents-area">비밀번호 변경</div></div>
<div class="user--container">
    <div class="contents-area">
        <div class="font-size-20">새 비밀번호를 입력하세요</div>
        <div class="font-size-16">비밀번호 변경 후 변경된 비밀번호로 로그인하세요</div>
        <span>새 비밀번호</span>
        <label class="form-label-text">
            <input type="text" placeholder="6자 이상"></input>
        </label>
        <label class="form-label-text">
            <input type="text" placeholder="비번확인"></input>
            <output>비번형식 틀림</output>
        </label>
        <a href="./" class="btn-gradient">비밀번호 변경</a>
    </div>
</div>
<!--@import(./components/footer.html)-->
<!--@import(./components/foot.html)-->
</body>
</html>
