<!--맨 밑에 회사정보.-->
<footer class="footer--container">
    <div class="contents-area">
        <div>
            <div class="footer--title">MajorMap<a href="#" class="footer--go-to-top">↑</a></div>
            <div>(주)잡쇼퍼 | 대표: 권기원</div>
            <div>사업자등록번호: 315-87-00617</div>
            <div>서울특별시 관악구 관악로 1 서울대학교 연구공원 SK센터 1층 T1</div>
            <div>
                <a>회사 홈페이지</a>
                <a>이용약관</a>
                <a>개인정보처리방침</a>
                <a>제휴문의</a>
            </div>
        </div>
        <div>
            <div class="footer--title">고객센터</div>
            <div><a>카카오톡 플러스친구</a></div>
            <div><a href="mailto:cs@jobshopper.co.kr">cs@jobshopper.co.kr</a></div>
        </div>
    </div>
</footer>
